* {
    margin: 0;
}

body {
    display: flex;
    gap: 20px;
    font-family: 'Times New Roman', Times, serif;
    background-color: #f4f4f4;
    height: 100vh;
    width: 100%;
    font-size: 1rem;
}

#bodyDiv {
    width: 100%;
    display: flex;
    padding: 10px;
    gap: 1%;
}

#divLeft {
    display: flex;
    flex-direction: column;
    width: 44%;
    gap: 1%;
}

#divClient {
    height: 50%;
    border: .5px solid gray;
    overflow: hidden;
    overflow-y: auto;
    background-color: rgba(255, 243, 234, 0.5);
    padding: 20px;
}

#divAuthor {
    display: flex;
    width: 100%;
    height: 50%;
    gap: 1%;
}

#divBook {
    display: flex;
    gap: 1%;
    width: 56%;
    flex-direction: column;
}

.mainDiv {
    border: 1px solid rgba(125, 125, 125, 0.5);
    background-color: rgba(255, 243, 234, 0.5);
    padding: 20px;
    height: auto;
}

h2 {
    margin-bottom: 5px;
    font-size: 1.5rem;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.divFormOut {
    display: flex;
    gap: 2%;
}

.divFormLeft {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.divFormRight {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#divCreateAuthor {
    width: 50%;
    overflow: hidden;
    overflow-y: auto;
}

#divModAuthor {
    width: 50%;
    overflow: hidden;
    overflow-y: auto;
}

#divCreateBook {
    height: 50%;
    overflow: hidden;
    overflow-y: auto;
}

#divModBook {
    height: 50%;
    overflow: hidden;
    overflow-y: auto;
}

label {
    margin-bottom: 3px;
}

.labelCreateAuthor::after {
    content: "*";
    font-size: 0.9rem;
    color: rgb(177, 5, 5);
}

input {
    margin-bottom: 1vh;
    font-size: 1rem;
}

.imageButton {
    text-align: center;
    border: 1px solid #747474;
    padding: 5px;
    background-color: #eaeaea;
    margin-bottom: 1vh;
    border-radius: 3px;
}

.imageButton:hover {
    background-color: #e1e1e1;
    cursor: pointer;
}

button {
    font-size: 1rem;
    margin-top: 1.5vh;
}

.descripcionTextArea {
    resize: none;
    min-height: 10vh;
    max-height: 50vh;
}

.textAreaBook {
    height: 10vh !important;
    min-height: 5vh !important;
}

button:hover {
    cursor: pointer;
}

.message {
    margin-top: 1vh;
    font-size: 1rem;
    height: 20px;
}

.divInputButton {
    display: flex;
    margin-bottom: 1vh;
}

.buttonPlus {
    height: 100%;
    margin-top: 0;
}

#autorCreateBook {
    width: 100%;
    margin-bottom: 0vh !important;
}

#categoriaCreateBook {
    width: 100%;
    margin-bottom: 0;
}

#autorModBook {
    width: 100%;
    margin-bottom: 0vh !important;
}

#categoriaModBook {
    width: 100%;
    margin-bottom: 0;
}

.listAuthorUl {
    display: none;
    flex-direction: column;
    height: 230px;
    overflow-y: auto;
    background-color: white;
    border: 0.5px solid gray;
}

.autorPlus {
    border: 0.5px solid gray;
    display: flex;
    height: 22px;
    background-color: rgb(200, 225, 205);
    margin-bottom: 2%;
    justify-content: space-between;
}

.autorPlusModBook {
    border: 0.5px solid gray;
    display: flex;
    height: 22px;
    background-color: rgb(200, 225, 205);
    margin-bottom: 2%;
    justify-content: space-between;
}

.pAuthors {
    display: flex;
    align-items: center;
}

.buttonRemove {
    display: flex;
    border: 0.5px solid gray;
    width: 25px;
    background-color: lightgray;
    justify-content: center;
}

.buttonRemove:hover {
    cursor: pointer;
    background-color: #d9d8d8;
}

.Book-result {
    padding: 3px;
}

.fieldsetCategoria {
    height: 100px;
    overflow: hidden;
    overflow-y: auto;
    height: 150px;
    position: relative;
}

.fieldsetCategoria label {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 5px;
    white-space: nowrap;
}

.fieldsetCategoria label:hover {
    cursor: pointer;
    color: blue;
}

.fieldsetCategoria input[type="checkbox"]:hover {
    cursor: pointer;

}

/* Modificar Autor CSS */
#imagenButtonModAuthor {
    color: gray;
}

.author-result {
    border: 0.5px solid #e5e5e5;
    transition: background-color ease-in-out 0.1s;
    padding: 3px;
}

.author-result:hover {
    background-color: #e9faff !important;
    cursor: pointer;
}

#imageVisualization {
    position: absolute;
    width: 15%;
    right: 38%;
}

/* Modificar libro */
#imageVisualizationModBook {
    position: absolute;
    height: 40%;
    border-radius: 10px;
    transform: translateX(-320px) translateY(-54px);
}

/* ANIMACIONES */
.noImage {
    animation-name: alertImage;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: 3;
}

@keyframes alertImage {
    0% {
        background-color: #ff9e9e;
    }

    100% {
        background-color: #eaeaea;
    }
}

/* Table DataBase */

#divTitleDB {
    display: flex;
    justify-content: space-between;
}

#menuDB ul {
    display: flex;
    list-style: none;
    color: blue;
    text-decoration: underline;
    gap: 5%;
    padding: 0;
    justify-content: flex-end;
}

#menuDB ul li:hover {
    cursor: pointer;
    color: #5f7aff;
}

#firstDivDB {
    display: flex;
    margin-bottom: 1%
}

#buscarTituloDB {
    margin: 0 2%;
    width: 70%;
}

#tablePrecio {
    width: 10%;
}

#tableCategoria {
    width: 11%;
}

.divTableDB {
    border: 0.5px solid gray;
    height: 35vh;
    background-color: #ffffff;
    font-size: 1vw;
    overflow: hidden;
    overflow-y: auto;
}

.tableDB {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

.tableHeadDB {
    position: sticky !important;
    top: 0px;
    z-index: 10;
}

.tableHeadDB tr th {
    outline: 1px solid gray;
    position: sticky !important;
    top: 0px;
    text-align: left;
    background-color: rgb(245 212 186);
    padding: 5px;
}

.tableBodyDB tr td {
    border: .5px solid gray;
    padding: 5px;
}

.tableBodyDB tr:nth-child(even) {
    background-color: #f2f2f2;
}

#tablePrecio:hover {
    cursor: pointer;
    background-color: #ffc967;
}

#tableStock:hover {
    cursor: pointer;
    background-color: #ffc967;
}

#tableTitulo:hover {
    cursor: pointer;
    background-color: #ffc967;
}

/* Modal Venta */
#modals {
    z-index: 15;
    display: flex;
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
}

#modalVentas {
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: white;
    padding: 20px;
    width: 45vw;
    height: 60vh;
    top: 15%;
    left: 25%;
    z-index: 20;
}

#divBuscarVentas {
    display: flex;
    gap: 2%;
    margin-bottom: 2%;
}

#divTableVentas {
    border: .5px solid gray;
    height: 48vh;
    background-color: #fefefe;
    overflow: hidden;
    overflow-y: auto;
}

#tableVentas {
    height: auto;
}

#divSubmitVentas {
    margin-top: 2%;
    display: flex;
    justify-content: space-between
}

#submitVentas {
    margin: 0;
    padding: .5% 2%;
}

#modalVentas div input {
    width: 70%;
    margin: 0;
}

#tableVentasPrecio {
    width: 10%;
}

#tableBodyVentas td:nth-child(1) {
    text-align: center;
}

#tableBodyVentas td:nth-child(2) {
    text-align: center;
}

#tableBodyVentas td:nth-child(5) {
    text-align: center;
}

#tableVentasStock {
    width: 1%;
}

#tableVentasCantidad {
    width: 1%;
}

#tableVentasEliminar {
    width: 1%;
}

.xButton {
    display: flex;
    justify-content: space-between
}

#buttonVentasX {
    margin: 0;
}

#divBuscarVentas div {
    width: 70%;
}

#tituloVentas {
    width: 100% !important;
}

#searchResultsVentas {
    position: absolute;
    z-index: 50;
    width: 100%;
}

#tableBodyVentas tr td:nth-child(6) {
    background-color: #ffe2e2;
}

#tableBodyVentas tr td:nth-child(6):hover {
    background-color: #f7c8c8;
    cursor: pointer;
}

/* Modal Stads */
#modalStads {
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: white;
    padding: 20px;
    width: 45vw;
    height: 60vh;
    top: 15%;
    left: 25%;
    z-index: 20;
}

#buttonStadsX {
    margin: 0;
}

#divStadsContent {
    border: 1px solid lightgray;
    height: 55vh;
    overflow: hidden;
    overflow-y: auto;
    padding: 2%;
}

#divCanvasStads {
    margin-bottom: 3%;
}

#stadsLoadingDiv {
    top: 55px;
    background-color: white;
    z-index: 50;
    position: absolute;
    width: 45vw;
    height: 56vh;
    display: flex;
    flex-direction: column;
}

#stadsLoadingText {
    margin-top: 5px;
    width: 100%;
    text-align: center;
}

.loading-wave {
    display: flex;
    width: 100% !important;
    height: 50% !important;
}

.loading-wave {
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.loading-bar {
    width: 10px;
    height: 15px;
    margin: 0 5px;
    background-color: #d5a038;
    border-radius: 5px;
    animation: loading-wave-animation 2.5s ease-in-out infinite;
}

.loading-bar:nth-child(2) {
    animation-delay: 0.3s;
}

.loading-bar:nth-child(3) {
    animation-delay: 0.6s;
}

.loading-bar:nth-child(4) {
    animation-delay: 0.9s;
}

@keyframes loading-wave-animation {
    0% {
        height: 15px;
    }

    50% {
        height: 40px;
    }

    100% {
        height: 15px;
    }
}

/* General Loader */
.loader {
    --cell-size: 10px;
    --cell-spacing: 1px;
    --cells: 3;
    --total-size: calc(var(--cells) * (var(--cell-size) + 2 * var(--cell-spacing)));
    display: flex;
    flex-wrap: wrap;
    width: var(--total-size);
    height: var(--total-size);
}

.cell {
    flex: 0 0 var(--cell-size);
    margin: var(--cell-spacing);
    background-color: transparent;
    box-sizing: border-box;
    border-radius: 4px;
    animation: 1.5s ripple ease infinite;
}

.cell.d-1 {
    animation-delay: 100ms;
}

.cell.d-2 {
    animation-delay: 200ms;
}

.cell.d-3 {
    animation-delay: 300ms;
}

.cell.d-4 {
    animation-delay: 400ms;
}

.cell:nth-child(1) {
    --cell-color: #FFDDD1;
}

.cell:nth-child(2) {
    --cell-color: #FFCCB3;
}

.cell:nth-child(3) {
    --cell-color: #fec5a8;
}

.cell:nth-child(4) {
    --cell-color: #f8b28a;
}

.cell:nth-child(5) {
    --cell-color: #ffbb8d;
}

.cell:nth-child(6) {
    --cell-color: #ffae73;
}

.cell:nth-child(7) {
    --cell-color: #fdb07d;
}

.cell:nth-child(8) {
    --cell-color: #ff9f5a;
}

.cell:nth-child(9) {
    --cell-color: #ff8d37;
}

@keyframes ripple {
    0% {
        background-color: transparent;
    }

    30% {
        background-color: var(--cell-color);
    }

    60% {
        background-color: transparent;
    }

    100% {
        background-color: transparent;
    }
}

#secondDivClient {
    position: relative;
}

.generalLoader {
    position: absolute;
    z-index: 50;
    background-color: #faf4ef;
    top: 30px;
    width: 100%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loaderCategory {
    top: 0;
    height: 100%;
}