* {
    margin: 0;
}

body {
    display: flex;
    gap: 20px;
    font-family: 'Times New Roman', Times, serif;
    background-color: #f4f4f4;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    font-size: 1.1rem;
}

.mainDiv {
    border: 1px solid rgba(125, 125, 125, 0.5);
    background-color: rgba(255, 243, 234, 0.5);
    padding: 20px;
    height: auto;
}

h2 {
    margin-bottom: 15px;
    font-size: 1.5rem;
}

form {
    display: flex;
    flex-direction: column;
    width: 250px;
}

input {
    margin-bottom: 15px;
    height: 25px;
    font-size: 1.1rem;
}

.imageButton {
    text-align: center;
    border: 1px solid #747474;
    padding: 5px;
    background-color: #eaeaea;
    margin-bottom: 15px;
    border-radius: 3px;
}

.imageButton:hover {
    background-color: #e1e1e1;
    cursor: pointer;
}

button {
    font-size: 1.1rem;
}

button:hover {
    cursor: pointer;
}

#message {
    margin-top: 10px;
    color: rgb(177, 5, 5);
    font-size: 1.1rem;
}

@media only screen and (max-width: 310px) {
    div {
        width: 70vw;
        height: auto;
    }

    form {
        width: 100%;
    }
}