* {
    margin: 0;
}

body {
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    background-color: #f4f4f4;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    font-size: 1.1rem;
}

#mainDiv {
    border: 1px solid rgba(125, 125, 125, 0.5);
    background-color: rgba(255, 243, 234, 0.5);
    padding: 20px;
    height: auto;
}

h1 {
    margin-bottom: 15px;
    font-size: 1.5rem;
}

form {
    display: flex;
    flex-direction: column;
    width: 250px;
}

input {
    margin-bottom: 15px;
    height: 25px;
    font-size: 1.1rem;
}

button {
    font-size: 1.1rem;
}

button:hover {
    cursor: pointer;
}

#message {
    margin-top: 10px;
    color: rgb(177, 5, 5);
    font-size: 1.1rem;
}

@media only screen and (max-width: 310px) {
    div {
        width: 70vw;
        height: auto;
    }

    form {
        width: 100%;
    }
}


/* General Loader */
.loader {
    --cell-size: 10px;
    --cell-spacing: 1px;
    --cells: 3;
    --total-size: calc(var(--cells) * (var(--cell-size) + 2 * var(--cell-spacing)));
    display: flex;
    flex-wrap: wrap;
    width: var(--total-size);
    height: var(--total-size);
}

.cell {
    flex: 0 0 var(--cell-size);
    margin: var(--cell-spacing);
    background-color: transparent;
    box-sizing: border-box;
    border-radius: 4px;
    animation: 1.5s ripple ease infinite;
}

.cell.d-1 {
    animation-delay: 100ms;
}

.cell.d-2 {
    animation-delay: 200ms;
}

.cell.d-3 {
    animation-delay: 300ms;
}

.cell.d-4 {
    animation-delay: 400ms;
}

.cell:nth-child(1) {
    --cell-color: #FFDDD1;
}

.cell:nth-child(2) {
    --cell-color: #FFCCB3;
}

.cell:nth-child(3) {
    --cell-color: #fec5a8;
}

.cell:nth-child(4) {
    --cell-color: #f8b28a;
}

.cell:nth-child(5) {
    --cell-color: #ffbb8d;
}

.cell:nth-child(6) {
    --cell-color: #ffae73;
}

.cell:nth-child(7) {
    --cell-color: #fdb07d;
}

.cell:nth-child(8) {
    --cell-color: #ff9f5a;
}

.cell:nth-child(9) {
    --cell-color: #ff8d37;
}

@keyframes ripple {
    0% {
        background-color: transparent;
    }

    30% {
        background-color: var(--cell-color);
    }

    60% {
        background-color: transparent;
    }

    100% {
        background-color: transparent;
    }
}

.generalLoader {
    position: absolute;
    z-index: 50;
    background-color: rgb(250, 244, 239);
    top: 30px;
    width: 100%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loaderCategory {
    top: 0;
    height: 100%;
}